body {
  background-color: #002;
  color: #fff;
}
.hidden {
  visibility: hidden;
}

body * {
  padding: 5px;
}

p {
  color: #ddd;
}

.mega-container {
  border: 1px solid white;
  border-radius: 5rem;
  background-image: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
}

/* .content {
  text-align: center;
} */
